* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

.container {
    max-width: 1000px;
    margin: auto;
}

#navbar {
    background-color: #333;
    color:white;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#navbar h1 {
    float: left;
    padding-left: 20px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    text-decoration: none;
    color: white;
    padding: 20px;
}

#navbar ul a:hover {
    background-color: rgb(126, 121, 121);
    color: rgb(230, 186, 104);
}


.dform{
    padding-top: 30px;
    padding-bottom: 50px;
    max-width: 1000px;
    margin: auto;
}
.dform input{
    height: 25px;
    width: 100%;
}

#txtarea{
    width: 100%;
    height: 150px;
}

.dform h2{
    color: #f7c08a;
}

#bsubmit{
    background-color: #333;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

#bsubmit:hover{
    background-color: rgb(138, 121, 121);
}

#features {
    text-align: center;
    color: white;
    
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    background-color: #333;
}

.box i {
    font-size: 50px;
}

#features {
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    padding: 40px;
}

.box i {
    
    font-size: 40px;
}
