* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px 20px;
    border-radius: 5px;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clr {
    clear: both;
}

/* Navigation */
#navbar {
    background-color: #333;
    color:white;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#navbar h1 {
    float: left;
    padding-left: 20px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    background-color: rgb(126, 121, 121);
    color: rgb(230, 186, 104);
}

/* Showcase */
#showcase {
    background: url(img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
}

.showcase-content p {
    margin-bottom: 30px;
}

/* Home Info */
#home-info {
    height: 300px;    
}

#home-info .info-img {
    background: url(img/photo-1.jpg) no-repeat center center/cover;
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {
    height: 100%;
    width: 50%;
    background: #333;
    float: right;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

#home-info .info-content h2 {
    padding: 10px;
}

#home-info .info-content p {
    margin-bottom: 50px;
}

#home-info .info-content a:hover {
    text-decoration: underline;
    color: #333;
}

/*  Features */
#features {
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
}

.box i {
    font-size: 50px;
}

/* About */
#about-info {
    padding: 20px;
}

#about-info .info-left {
    float: left;
    width: 40%;
    height: 100%;

}

#about-info .info-right {
    float: right;
    width: 40%;
    height: 100%;
}

#about-info .info-right img {
    width: 70%;
    margin-top: auto;
    border-radius: 50%;
    display: block;
}

/* Testimonials */
#testimonials {
    /* padding-top: 100px; */
    height: 500px;
    background: url(img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    height: 150px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}




/* FOOTER */
#main-footer {
    text-align: center;
    background: #444;
    color: white;
    padding: 20px;
}

#main-footer p {
    margin-top: 5px;
}